@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0D0D0D;
}

h1 {
    font-size: 38px;
}

header>nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header>nav>div>ul {
    display: flex;
    gap: 3vw;
}

#mainIcon {
    width: 7.5vw;
    height: 5vh;
    background-image: url("./Assets/Icons/FORTES_LOGO_ICON.png");
    background-size: contain;
    background-position: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container h1 {
    text-align: center;
    letter-spacing: .75rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.register-container form {
    display: flex;
    flex-direction: column;
}